@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      justify-content: center;
      align-items: center;
      font-family: -apple-system, system-ui, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 5vw;
      background: #000;
      overflow: hidden;
    }
      video{
         height: -webkit-fill-available;
       }
  

    /* HOVER = mocniejszy glitch */
    h1:hover::before,
    h1:hover::after {
      animation: glitch-hover 0.2s infinite alternate linear;
    }

   h1 {
  transition: all ease 2s;
  position: relative;
  color: #0f0;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  mix-blend-mode: screen;
  cursor: default;
}
h1:before,
h1:after {
  left: 0;
  content: 'Comming soon.';
  position: absolute;
  mix-blend-mode: inherit;
}
h1:before {
  color: #f00;
}
h1:after {
  color: #00f;
}
h1:hover:before,
h1:hover:after {
  animation: move infinite alternate linear 0.2s;
}
h1:hover:after {
  animation-delay: 0.2s;
}
@-moz-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@-o-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
