@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      justify-content: center;
      align-items: center;
      font-family: -apple-system, system-ui, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 5vw;
      background: #000;
      overflow: hidden;
    }
      video{
         height: -webkit-fill-available;
       }
  

    /* HOVER = mocniejszy glitch */
    h1:hover::before,
    h1:hover::after {
      animation: glitch-hover 0.2s infinite alternate linear;
    }

   h1 {
     transition: all 2s ease;
    position: absolute;
    color: #0f0;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    mix-blend-mode: screen;
    cursor: default;
    bottom: 10%;
    right: 1%;
  animation: showH1 0.5s ease forwards;
  animation-delay: 1s; /* ← tu jest 1 sekunda opóźnienia */
}

@keyframes showH1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1:before,
h1:after {
  left: 0;
  content: 'Comming soon.';
  position: absolute;
  mix-blend-mode: inherit;
}
h1:before {
  color: #f00;
}
h1:after {
  color: #00f;
}



h1:before,
h1:after {
  left: 0;
  content: 'Comming soon.';
  position: absolute;
  mix-blend-mode: inherit;

  /* 🔥 automatyczny glitch */
  animation: glitch-loop 5s infinite;
}

h1:after {
  animation-delay: 0.15s; /* lekkie przesunięcie RGB */
}
@keyframes glitch-loop {
  0%,
  85%,
  100% {
    transform: none;
  }

  86% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }

  88% {
    transform: translate(0.2%, 0.2%);
  }

  90% {
    transform: translate(0.2%, -0.2%);
  }

  92% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }

  94% {
    transform: none;
  }
}






@-moz-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@-o-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
