@tailwind base;
@tailwind components;
@tailwind utilities;

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      justify-content: center;
      align-items: center;
      font-family: -apple-system, system-ui, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 5vw;
      background: #000;
      overflow: hidden;
    }
      video{
         height: -webkit-fill-available;
            @media (max-width: 660px) {
                        object-fit: cover !important;
                      object-position: bottom !important;
                      height: 100vh !important;
                      object-position: -670px !important;
                      object-view-box: revert-layer !important;
                      width: 100% !important;
                    }
       }


   h1 {
     transition: all 2s ease;
    position: absolute;
    color: #0f0;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    mix-blend-mode: screen;
    cursor: default;
    bottom: 10%;
             opacity: 0;
    right: 1%;
  animation: showH1 1.5s ease forwards;
  animation-delay: 2s; /* ← tu jest 1 sekunda opóźnienia */
          @media (max-width: 660px) {
              bottom: 3% !important;
                right: 3% !important;
          }
}

@keyframes showH1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


h1:hover:before,
h1:hover:after {
  animation: move infinite alternate linear 0.5s;
}
h1:hover:after {
  animation-delay: 0.2s;
}



h1:before,
h1:after {
  left: 0;
  content: 'Comming soon.';
  position: absolute;
  mix-blend-mode: inherit;

  /* 🔥 automatyczny glitch */
  animation: move 3s infinite alternate linear 0.5s;
}

h1:before {
  color: #f00;
}
h1:after {
  animation-delay: 0.15s;
       color: #00f;/* lekkie przesunięcie RGB */
}
@-moz-keyframes glitch-loop {
  0%,
  85%,
  100% {
    transform: none;
  }

  86% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }

  88% {
    transform: translate(0.2%, 0.2%);
  }

  90% {
    transform: translate(0.2%, -0.2%);
  }

  92% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }

  94% {
    transform: none;
  }
}






@-moz-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@-o-keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}
@keyframes move {
  0% {
    transform: translate(-0.2%, -0.2%) scale(1.01);
  }
  25% {
    transform: translate(0.2%, 0.2%);
  }
  50% {
    transform: translate(0.2%, -0.2%);
  }
  100% {
    transform: translate(-0.2%, 0.2%) scale(0.99);
  }
}

